
.trending_products{
    width: 100%;
    overflow: hidden;
}

.sliderimg img{
    width: 98%; 
    height: 40%;
    min-height: 250px;
    border-radius: 2rem;
}
.sliderimg{
    margin: 1.5rem;
    display: flex;
}
.aboutProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1.5rem;
}
 @media (min-width: 920px) {
  :global(.swiper-slide) {
    width: 500px !important;
  }
  .trending_products{
    height: 310px;
  }
}