.mainContainer{
    margin-inline: 2rem;
    font-family: sans-serif;
}
.profile{
    display: flex;
    background: rgb(201, 161, 201);
    padding: 2rem;
    gap: 2rem;
    border-radius: 10px;
}
.profilepicture{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.joinedon{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.profilepic {
    border-radius: 50%;
    background: wheat;
    width: 8rem;
    height: 8rem;
    overflow: hidden;
}
.profilepic img{
    object-fit: contain;  
    border-radius: 12px;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    transition: transform .3s;
}
.profiledata{
    display: flex;
    gap: 2rem;
}
 .inputsproFileInfo, .addressInfo{
    flex: 0.5;
    display: flex;
    flex-direction: column;
 }
 .inputsproFileInfo > label , .addressInfo > label , .addAddressInfo > input , .addAddressInfo > label{
    margin-top: 0.8rem;
 }
.inputsproFileInfo > input, .addressInfo > input , .addAddressInfo > input {
    height: 30px;
    width: 16rem;
    border-radius: 4px;
    border: wheat;
    box-shadow: 2px 0px 1px 3px #f5f5f5;
    padding: 0.5rem;
    font-size: medium;
    font-family: serif;
    margin-top: 0.2rem;
}
.inputsproFileInfo > input:focus , .addressInfo > input:focus , .addAddressInfo > input:focus {
    border: none;
    outline: none;
}
.btn{
    color: #fff;
    cursor: pointer;
    background: linear-gradient(135deg, #a8879e, #a48499, #9f7f96);
    border-radius: 8px;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: .4rem;
    width: 9rem;
    min-height: 38px;
    padding: .5rem;
    font-size: larger;
    font-weight: 500;
    transition: all .3s;
    display: flex;
}
.userShoppingDetails{
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
}
.userShoppingDetails > div{
    background: rgb(204, 189, 160);
    display: flex;
    gap: 0.8rem;
    padding-left: 2rem;
    padding-block: 1rem;
    width: 25rem;
    border-radius: 6px;
}
.icon{
    background: wheat;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
}
.count{
    font-size: larger;
}
.benefits{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.addAddress{
    border: wheat;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 10rem;
    height: 3rem;
    margin-top: .5rem;
    padding: .5rem;
    font-size: medium;
    display: flex;
    box-shadow: 2px 0 1px 3px #f5f5f5;
}


.overlay{
    background: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addAddressInfo{
    background: white;
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 25rem;
    display: flex;
    padding-top: 2rem;
    padding-left: 4rem;
    border-radius: 10px;
}
.save{
    align-self: flex-end;
    color: #fff;
    margin-right: 5rem;
    margin-top: 1rem;
    cursor: pointer;
    background: linear-gradient(135deg, #a8879e, #a48499, #9f7f96);
    border-radius: 8px;
    min-height: 38px;
    padding-inline: 1.5rem;
    border: none;
    width: fit-content;
}