.message{
    width: 30rem;
    position: absolute;
    align-self: center;
    justify-self: center;
    top: 8rem;
    padding-block: 1rem;
    text-align: center;
    border-radius: 1.5rem;
}
.like svg, .liked svg{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}
.liked svg{
    fill: #e4122f;
    color: #e4122f;
    z-index: 2;
}

.discount{
  height: 10rem;
}
.discount img{
  min-height: 120px;
  height: 135px;
  width: 100vw;
}
.path{
  color: #714f65;
  margin-left: 7rem;
  margin-top: 2rem;
}

.mainMidContainer{
  margin-top: 2rem;
  /* border: 2px solid yellow; */
  justify-content: center;
  display: flex;
  align-items: center;
  margin-inline: 3rem;
}
.leftContainer{
  /* border: 1px solid blue; */
  width: 50%;
  display: flex;
  padding-inline: 2rem;
  justify-content: space-evenly;
}

.rightContainer{
  /* border: 1px solid blue; */
  /* height: 35rem; */
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2rem;
  padding-block: 2rem;
}
.productName{
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 20px;
}

.mainImage{
  /* border: 1px solid tomato; */
  height: 34rem;
}
.mainImage img{
  height: 34rem;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: all 0.4s;
}
.mainImage img:hover{
  border: 1px solid rosybrown;
  transform: scale(1.01);
  cursor: pointer;
}
.similarImage{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
}
.similarImage img{
  height: 10.3rem;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: all 0.4s;
}
.similarImage img:hover{
  border: 1px solid rosybrown;
  transform: scale(1.05);
  cursor: pointer;
}
.price{
  font-size: x-large;
  font-family: sans-serif;
  font-weight: 600;
}
.originalPrice{
  text-decoration: line-through;
}
.savePrice{
  padding: 4px;
  padding-inline: 8px;
  background: wheat;
  color: #714f65;
}

.topBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.productInfo{
  display: flex;
  gap: 20px;
  margin-left: 15px;
}
.brand{
  background: #f0f0f0;
  color: #c4a985;
  border-radius: 2px;
  padding-inline: 5px;
}
.catagory{
  background:  #f0f0f0;
  color: #8855f4;
  border-radius: 2px;
  padding-inline: 5px;
}
.icon{
  border: 1px solid #714f65;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.productMidBar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1rem;
  margin-top: 3rem;
  
}
.reviewStar{
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.stock{
  color: rgba(3, 129, 3, 0.801);
  background: wheat;
  border-radius: 5px;
  padding: 2px;
}
.priceDev{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 1rem;
}
.price:nth-child(1){
  padding-left: 0.8rem;
}

.quantity{
  margin: 2rem 0 2rem 0.8rem;
}

.quantity h4{
  margin-bottom: 12px;
}

.quantityBox{
  display: flex;
  align-items: center;
  gap: 12px;
  width: 10rem;
  background: #c4a985;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}
.quantityBox span{
  cursor: pointer;
}
.quantityBox p{
  border: none;
  background: wheat;
  text-align: center;
  padding-block: 0.6rem;
  width: 5rem;
}
.addToCartBtn{
  color: #fff;
    cursor: pointer;
    background: linear-gradient(135deg, #a8879e, #a48499, #9f7f96);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    min-height: 38px;
    padding: 14px;
    font-weight: 600;
    transition: all .3s;
    display: flex;
    width: 15rem;
}
.addToCartBtn:hover{
  transform: scale(1.02);
}
@media screen and (width <= 1124px) {
  .mainContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .mainMidContainer{
    flex-wrap: wrap;
  }
  .leftContainer{
    width: 100%;
    justify-content: center;
    gap: 2rem;
  }
  .rightContainer{
    width: 100%;
    margin-top: 3rem;
    padding-inline: 5rem;
  }
  .mainReviewContainer{
    width: 100%;
  }
}
@media screen and (width <= 576px) {
  .path{
    margin-left: 10rem;
  }
  .discount img{
    width: auto;
  }
  .rightContainer{
    padding-left: 13rem;
  }
  .leftContainer{
    padding-left: 13rem;
  }
}

/* review and ratings */
.reviewsContainer{
  border: 2px solid black;
}
.reviewName{
  font-size: xx-large;
  margin-left: 5rem;
  margin-bottom: 1rem;
}
.allReviews{
  border: 1px solid red;
  font-family: Arial, Helvetica, sans-serif;
  
}
.mainReviewContainer{
  margin-inline: 4rem;
  margin-top: 2.5rem;
  margin-bottom: 7rem;
}
.averageReviews{
  display: flex;
  justify-content: space-evenly;
}

.authorbtns{
  gap: 1rem;
  display: flex;
  justify-content: flex-end;
}
.btns{
  color: #fff;
  cursor: pointer;
  background: linear-gradient(135deg, #a8879e, #a48499, #9f7f96);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  width: 12rem;
  height: 3rem;
  min-height: 38px;
  padding: 10px;
  font-weight: 400;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  transition: all .3s;
  display: flex;
}