.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
}

.logo {
  font-size: 45px;
  font-weight: 700;
  color: #714f65;
  cursor: pointer;
}

.searchBox {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #faf7f9;
  padding: 12px 18px;
  border-radius: 50px;
  width: 420px;
  border: 1px solid #ead9e3;
  transition: 0.3s;
}

.searchBox:focus-within {
  border-color: #a48499;
  box-shadow: 0 0 0 4px rgba(164, 132, 153, 0.15);
}

.searchBox input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 22px;
  cursor: pointer;
  color: #714f65;
}

.icons svg {
  transition: 0.3s;
}

.icons svg:hover {
  color: #a48499;
  transform: scale(1.08);
}

.addBtn , .login{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background: linear-gradient(135deg, #a8879e, #a48499, #9f7f96);
  color: white;
  font-size: 15px;
}

.categoryBar {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding: 14px;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  background: white;
}

.categoryBar span {
  cursor: pointer;
  font-weight: 600;
  color: #714f65;
  transition: 0.3s;
}

.categoryBar span:hover {
  color: #a48499;
}
.mobileAddBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  background: linear-gradient(135deg, #a8879e, #a48499, #9f7f96);
  transition: 0.3s;
}

.mobileAddBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(164, 132, 153, 0.25);
}
@media (max-width: 900px) {
  .searchBox {
    width: 240px;
  }

  .categoryBar {
    overflow-x: auto;

    justify-content: flex-start;

    padding-inline: 20px;

    gap: 25px;
  }
}
@media (max-width: 650px) {
  .topNav {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 15px;
  }

  .logo {
    flex: 1;
    font-size: 32px;
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .mobileAddBtn {
    display: flex;
  }

  .searchBox {
    order: 3;
    width: 100%;
    margin-top: 8px;
  }

  .categoryBar {
    overflow-x: auto;
    justify-content: flex-start;
    gap: 20px;
    padding: 12px 15px;
    scrollbar-width: none;
  }

  .categoryBar::-webkit-scrollbar {
    display: none;
  }
}
