.mainContainer {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;  /* ✅ side scroll band */
}

.navDiv {
  width: 100%;
  margin-bottom: 9.5rem;
}

.midDiv {
  width: 100%;
  margin-top: 6rem;
}
.footerDiv{
  margin-top: 8rem;
}
@media screen and (width <= 650px) {
  .navDiv{
    margin-bottom: calc(100px + 5rem);
  }
}