.mainContainer {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;  /* ✅ side scroll band */
}

.navDiv {
  width: 100%;
}

.midDiv {
  width: 100%;
  margin-top: 6rem;
}
.footerDiv{
  margin-top: 8rem;
}