.homeContainer{
  width: 100vw;
}
.topContainer{
  width: 100vw;
}
.midContainer{
  width: 100%;
  margin-bottom: 1rem;
}
.midContainer img{
  padding-inline: 20px;
  height: 115px;
  width: 100%;
}
.bottomContainer{
  margin-top: 20px;
  margin-left: 1rem;
}

.center {
  font-size: 1.8rem;
  /* text-align: left; */
} 
.makeup {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  padding: 1rem;
  margin: 1rem;
}
.productContainer{
  border-radius: 25px;
  margin-bottom: 1rem;
  color: #714f65;
}
.explore{
  color: #fff;
  cursor: pointer;
  background: linear-gradient(135deg, #a8879e, #a48499, #9f7f96);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 11rem;
  min-height: 38px;
  padding: 0.6rem;
  font-weight: 500;
  transition: all .3s;
  display: flex;
  align-self: center;
  font-size: larger;
}
@media screen and  (width <= 1192px){
    .makeup{
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6rem;
        margin: 1.5rem;
    }
  .midContainer img{
    height: 115px;
    min-height: 118px;
  }
  .bottomContainer{
    margin: 12px;
  }
}

@media screen and (max-width : 576px) {
  .makeup{
    gap: 1rem;
    margin: 0;
  }
  .center{
    font-size: 1.2rem;
  }
}