.homeContainer{
  width: 100vw;
}
.topContainer{
  width: 100vw;
}
.midContainer{
  width: 100%;
  margin-bottom: 1rem;
}
.midContainer img{
  padding-inline: 20px;
  height: 115px;
  width: 100%;
}
.bottomContainer{
  margin-top: 20px;
}

 .center {
  text-align: center;
  margin-block: 1.2rem;
} 
.makeup {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  padding: 1rem;
  margin: 1rem;
}
.productContainer{
  border: 2px solid red;
  border-radius: 25px;
  color: white;
  margin-bottom: 1rem;
}
@media screen and  (width <= 1192px){
  .makeup {
    background: yellow;
  }
    .makeup{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: 1.5rem 0rem 1.5rem 1.5rem;
    }
  .midContainer img{
    height: 115px;
    min-height: 118px;
  }
}
